{% extends 'index.html'%}
{% block content %}
   <div class="jumbotron text-center">
       <h3>A platform for news on all categories</h3>
       <p>Search for news on any topic of your choice</p>
       <form action="http://news-feed-load-balancer-49b43ec3921a6792.elb.us-east-2.amazonaws.com:5000" method="post">
       <input type="text" name="q"><br>
       <button type="submit" class="btn btn-dark mt-3">Search</button>
           </form>
   </div>
<div class="p-1 m-1">
    <div class="container">
        <h4>All categories</h4>
        <div class="row justify-content-center">
            {% for category in categories %}
            <a href="{{url_for('views.category', category=category)}}" class="btn btn-dark m-1">{{category}}</a>
            {% endfor %}
        </div>
        <h4>Trending News</h4>
        <div class="row justify-content-center">
            {% if newslist %}
    {% for news in newslist %}
            <div class="col-md-4">
    <div class="card mb-4">
        <img src="{{news.urlToImage}}" alt="" class="card-img-top">
        <div class="card-body">
            <p class="lead">{{news.title}}</p>
            {% if news.description != None%}
            <p class="text-truncate">{{news.description}}</p>
            {% endif %}

            <div class="d-flex flex-column justify-content-between align-items-left pb-2">
                {% if news.author != None%}
                <p class="font-italic">- {{news.author}}</p>
                {% endif%}
                <small class="text-muted">{{news.publishedAt}}</small>
              </div>
            <a href="{{news.url}}" class="btn btn-dark">View</a>
        </div>
    </div></div>
    {%endfor%}
            {% else %}
            <a href="{{url_for('views.home')}}" class="btn btn-dark mt-5">Refresh</a>
            {% endif %}
            </div>
        </div>
</div>
{% endblock %}